@mixin title-anchor($anchorClass: 'anchor-link') {
  position: relative;

  .#{$anchorClass} {
    @include anchor()
  }

  &:hover .#{$anchorClass} {
    @include anchor-visible()
  }
}

@mixin anchor() {
  position: absolute;
  top: 0.1em;
  right: -1em;
  opacity: 0;
  transition: opacity 0.25s, right 0.25s;
  text-decoration: none;
  color: grey;
  font-size: 0.9em;
  vertical-align: -0.125em;
}

@mixin anchor-visible() {
  opacity: 1;
  right: -1.25em;
}
